body {
    margin: 0;
    padding: 0;
	
	background-color: #413f42;
}

.header {
	position: fixed;
    width: 100%;
    height: 450px;
	overflow: hidden;
    background-color: #1a0e21;

}

.banner {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 52%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.username {
	font-family: "Eras Bold ITC";
	color: white;
	font-size: 120px;
	position: absolute;
	top: 25%;
	left: 52%;
	transform: translate(-50%, -50%);
}

.mail-container {
	color: white;
	font-size: 30px;
	position: relative;
	float: right;
	transform: translate(-10%, -320%);
}

.mail {
	background-color: rgba(0, 0, 0, 0.3);
	padding-right: 4px;
	padding-left: 4px;
}

.profile {
    top: 172px;
    transform: translate(150%, -105%);
    height: 200px;
	border-radius: 50%;
	border: 6px solid #1a0e21;
	box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}

.page {
	position: relative;
	z-index: 5;
	
	
}

.navbar {
	position: relative;
	display: flex;
	top: 235px;
	background-color: #38102f;
	border-top: 5px solid #1a0e21;
	border-bottom: 5px solid #1a0e21;
	overflow: auto;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10%;
	padding-left: 10%;
	align-items: center;
	justify-content: space-around;
	
}

.socials-spacing {
	position: relative;
	float: inline-start;
}

nav a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
	text-decoration: none;
	overflow: auto;
	float: inline-start;
	border-radius: 20%;
}

nav a img {
	width: 150px;
	box-shadow: 15px 20px 1px black;
	border-radius: 20%;
}
nav a img:hover {
  background-color: #111;
  opacity: 0.5;
}
.pages-background {
	background-image: url("images/background.png");
	position: relative;
	background-color: #413f42;
	top: 100px;
}

.videos-page {
	transform: translate(0, 200px);
	height: 50%
}

.first-page {
	transform: translate(0, 200px);
	height: 50%
}

.vidimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translate(0, -150px);
}

.vidimg2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: translate(0, -800px);
}

.libimg {
	display: block;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

.description {
	position: block; 
	color: black;
	font-size: 36px;
	margin-left: 5%;
	margin-right: 60%;
	text-align: justify;
	text-justify: inter-word;
	text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
	transform: translate(0, -1900px);
}


