body {
    margin: 0;
    padding: 0;
	
	background-color: #413f42;
}

.header {
	position: fixed;
    width: 100%;
    height: 450px;
	overflow: hidden;
    background-color: #D3B9B6;

}

.banner {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 52%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.brand-name {
	font-family: 'Brush Script MT', cursive;
	color: red;
	font-size: 120px;
	position: absolute;
	top: 22%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.page {
	position: relative;
	z-index: 5;
}

.navbar {
	position: relative;
	display: block;
	top: 200px;
	background-color: #f4e6ff;
	border-top: 5px solid #1a0e21;
	border-bottom: 5px solid #1a0e21;
	display: block;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	
}

.socials-spacing {
	position: relative;
	padding-left: 100px;
	float: inline-start;
	transform: translate(50%, 0);
}

nav a {
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: black;
	text-align: center;
	text-decoration: none;
	overflow: auto;
	float: inline-start;
	font-family: Helvetica;
	font-size: 28px;
}

}
nav a p:hover {
  background-color: #111;
  opacity: 0.5;
}
.pages-background {
	position: relative;
	background-color: #413f42;
	top: 100px;
}

.first-page {
	transform: translate(0, 200px);
	height: 50%
}

.libimg {
	display: block;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

.description {
	position: block; 
	color: white;
	font-size: 36px;
	margin-left: 15%;
	margin-right: 40%;
	text-align: justify;
	text-justify: inter-word;
	text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
	transform: translate(0, -800px);
}


